name: Build Qt CMake App

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: 6.6.0
        arch: win64_mingw

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -G "MinGW Makefiles"

    - name: Build
      run: |
        cd build
        mingw32-make -j2

    - name: Upload build folder
      uses: actions/upload-artifact@v4
      with:
        name: Qt-CMake-Build
        path: build
